.nav {
  position: fixed;
  top: 0px;
  right: -430px;
  padding: 10px 0;
  background: #333;
  width: 430px;
  z-index: 10;
  overflow: hidden;
  height: 1136px;
}
.nav .nav-head {
  overflow: auto;
  padding-bottom: 52px;
  border-bottom: 2px solid #474747;
  margin: 0 20px;
}
.nav .nav-head img {
  display: block;
  float: left;
  width: 120px;
  height: 120px;
}
.nav .nav-head .nav-head-info {
  margin-left: 140px;
}
.nav .nav-head .nav-head-info h3 {
  margin-top: 9px;
  color: #2c95dd;
  font-size: 36px;
  font-family: Helvetica Neue Medium , Helvetica Neue , Helvetica;
}
.nav .nav-head .nav-head-info p {
  color: #999;
  font-size: 28px;
  font-family: Helvetica Neue , Helvetica Neue , Helvetica;
}
.nav .nav-list {
  font-family: Helvetica Neue Medium, Helvetica Neue, Helvetica;
}
.nav .nav-list li {
  padding: 0 20px;
}
.nav .nav-list li:active, .nav .nav-list li:hover {
  background-color: #2c95dd;
}
.nav .nav-list li:active a, .nav .nav-list li:hover a {
  border-bottom: 2px solid #2c95dd;
  color: #fff;
}
.nav .nav-list li a {
  height: 82px;
  line-height: 82px;
  padding-left: 70px;
  font-size: 32px;
  color: #999;
  border-bottom: 2px solid #474747;
  display: block;
  text-decoration: none;
}
.nav .nav-list .nav-list-search {
  background: url('../img/nav-list-search.png') no-repeat center left;
}
.nav .nav-list .nav-list-search:active, .nav .nav-list .nav-list-search:hover {
  background: url('../img/nav-list-search-active.png') no-repeat center left;
}
.nav .nav-list .nav-list-home {
  background: url('../img/nav-list-home.png') no-repeat center left;
}
.nav .nav-list .nav-list-home:active, .nav .nav-list .nav-list-home:hover {
  background: url('../img/nav-list-home-active.png') no-repeat center left;
}
.nav .nav-list .nav-list-read {
  background: url('../img/nav-list-read.png') no-repeat center left;
}
.nav .nav-list .nav-list-read:active, .nav .nav-list .nav-list-read:hover {
  background: url('../img/nav-list-read-active.png') no-repeat center left;
}
.nav .nav-list .nav-list-interest {
  background: url('../img/nav-list-interest.png') no-repeat center left;
}
.nav .nav-list .nav-list-interest:active, .nav .nav-list .nav-list-interest:hover {
  background: url('../img/nav-list-interest-active.png') no-repeat center left;
}
.nav .nav-list .nav-list-favorite {
  background: url('../img/nav-list-favorite.png') no-repeat center left;
}
.nav .nav-list .nav-list-favorite:active, .nav .nav-list .nav-list-favorite:hover {
  background: url('../img/nav-list-favorite-active.png') no-repeat center left;
}
.nav .nav-list .nav-list-feed {
  background: url('../img/nav-list-feed.png') no-repeat center left;
}
.nav .nav-list .nav-list-feed:active, .nav .nav-list .nav-list-feed:hover {
  background: url('../img/nav-list-feed-active.png') no-repeat center left;
}
.nav .nav-list .nav-list-settings {
  background: url('../img/nav-list-settings.png') no-repeat center left;
}
.nav .nav-list .nav-list-settings:active, .nav .nav-list .nav-list-settings:hover {
  background: url('../img/nav-list-settings-active.png') no-repeat center left;
}
.nav .nav-list .nav-list-logout {
  background: url('../img/nav-list-logout.png') no-repeat center left;
}
.nav .nav-list .nav-list-logout:active, .nav .nav-list .nav-list-logout:hover {
  background: url('../img/nav-list-logout-active.png') no-repeat center left;
}
