.slide-from-left {
  position: absolute;
  width: 100%;
  overflow: hidden;
}
.slide-from-left.ng-enter {
  z-index: 2;
  -webkit-transform: translateX(-100%);
  /*    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
      -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
      -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
      transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;*/
  transition: 0.4s all;
}
.slide-from-left.ng-enter.ng-enter-active {
  position: absolute;
  z-index: 1;
  -webkit-transform: translateX(0);
}
.slide-from-left.ng-leave {
  /*    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
      -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
      -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
      transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;*/
  transition: 0.4s all;
}

.slide-from-right {
  position: absolute;
  width: 100%;
  overflow: hidden;
}
.slide-from-right.ng-enter {
  z-index: 2;
  -webkit-transform: translateX(100%);
  /*    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
      -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
      -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
      transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;*/
  transition: 0.4s all;
}
.slide-from-right.ng-enter.ng-enter-active {
  position: absolute;
  z-index: 1;
  -webkit-transform: translateX(0);
}
.slide-from-right.ng-leave {
  /*    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
      -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
      -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
      transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;*/
  transition: 0.4s all;
}
