.slide-left-animate {
  width: 100%;
  height: 100%;
  background: #fff;
}
.slide-left-animate.ng-enter {
  z-index: 2;
  -webkit-transform: translateX(-100%);
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;
}
.slide-left-animate.ng-enter.ng-enter-active {
  position: absolute;
  z-index: 1;
  -webkit-transform: translateX(0);
}
.slide-left-animate.ng-leave {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;
}

.slide-right-animate {
  width: 100%;
  height: 100%;
  background: #fff;
}
.slide-right-animate.ng-enter {
  z-index: 2;
  -webkit-transform: translateX(100%);
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;
}
.slide-right-animate.ng-enter.ng-enter-active {
  position: absolute;
  z-index: 1;
  -webkit-transform: translateX(0);
}
.slide-right-animate.ng-leave {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;
}
