/*05-4 style*/
.blue{color: #2c95dd;}
.clearfix{overflow: hidden;}
.bookmarks-icon{background: url(../img/BookmarksIcon.png) no-repeat center;}

.bookmarks-icon:active{background: url(../img/BookmarksIconActive.png) no-repeat center;}

.star-icon{background: url(../img/StarIcon.png) no-repeat center;}
.star-icon:active{
    background: url(../img/StarIconActive.png) no-repeat center;
}

.share-icon{background: url(../img/shareIcon.png) no-repeat center;}

.share-icon:active{
    background: url(../img/shareIconActive.png) no-repeat center;
}

.rss-icon{background: url(../img/RssIcon.png) no-repeat center;}

.rss-icon:active{background: url(../img/RssIconActive.png) no-repeat center;}

.fn-hide{ display: none; }

.comments{padding: 0 20px;}
.comments .details{padding: 10px 0 10px 10px;border-bottom:2px solid #303030;}
.comments .portrait{float: left;margin:10px;width: 66px;height: 66px;position: relative;}
.comments .portrait img{max-width: 100%;}
.comments .description{margin-left: 84px;}
.comments .description .username{font-size: 28px;}


.comments .description .times{float: right;color: #9f969b;font-size: 24px;}
.comments p,.component-rating{margin: 10px;font-size: 28px; overflow: hidden;}

.component-rating a:after{content:"|";color:#828282; padding: 0 8px 0 16px; }
.component-rating a:last-child:after{content:""; padding: 0px;}

.component-rating .num{color: #999;}
.component-rating .star-wrap{float: left; width: 145px; overflow: hidden; }

.component-rating .star-wrap .star-full{
    background: url('../img/star-full-new.png') no-repeat left center;
    width: 29px;
    height: 27px;
    float: left;
}

.component-rating .star-wrap .star-half{
    background: url('../img/star-half-new.png') no-repeat left center;
    width: 29px;
    height: 27px;
    float: left;
}

.component-rating .appreciate{
    float: right;
    font-size: 28px;
    letter-spacing: -1px;
    /* width: 450px; */
}

.component-rating .appreciate a{
     float: left; 
}

.item-detail-footer{
    clear: both;
    padding-top: 50px;
    overflow: auto;
    width: 488px;
    margin: 0 auto;
}

.item-detail-footer a {
    width: 122px;
    height: 100px;
    display: block;
    float: left;
    text-align: center;
}


.add-comments{padding: 20px 0;margin-right: 20px;}
.add-comments textarea{height: 60px;background: #333;border:none;border-radius:4px;width: 100%;font-size: 28px;line-height: 60px;padding-left: 20px;}

/*05-3 style*/
.status-wrap{padding: 0 20px; }
.status-wrap h4{font-size: 32px;color: #2c95dd;margin: 20px 0 10px;}
.status-wrap .component-rating{margin: 26px 0 20px;/* clear: both; */}
.status-wrap p{font-size: 28px;line-height: 36px;}
.status-wrap  p{padding: 20px 0 20px; font-family: Helvetica Neue Light, Helvetica Neue , Helvetica , Arial, sans-serif; }

.item-detail-footer{
    clear: both;
    padding-top: 60px;
    overflow: auto;
}

.info-wrap{
        font-size: 24px;
        letter-spacing: -1px;
}

.info-wrap span{color: #999; /* float: left; */}
.info-wrap span:after{content:"|";color:#999;padding: 0 6px 0 10px;}
.info-wrap span:last-child:after{content:"";}

.video-body{background: #6b9909;height: 204px;}
.video-body h3{font-size: 36px;text-align: center;position: relative;top: 84px;}
.video-footer{background: #89ad3a;height: 74px;position: relative;}
.video-footer .play-btn{background: url(../img/playBtn.png) no-repeat;width: 28px;height: 34px;position: absolute;top: 18px;left: 50px;}
.video-footer .play-times{line-height: 74px;font-size: 26px;position: relative;left: 118px;}
.video-footer .enlarge-btn{background: url(../img/enlargeBtn.png) no-repeat;width: 44px;height: 44px;position: absolute;right: 50px;top: 12px;}

.progress {height: 6px;overflow: hidden;background-color: #607928;}
.progress-bar {float: left;height: 100%;font-size: 12px;line-height: 20px;color: #fff;text-align: center;background-color: #fff;}


