.interests {
  overflow: hidden;
}
.interests h4 {
  font-size: 32px;
  padding: 20px 0 20px 20px;
  font-family: Helvetica Neue Light , Helvetica Neue , Helvetica;
}
.interests a {
  padding: 20px;
  background-color: #444444;
  background-position: bottom right;
  background-repeat: no-repeat;
  width: 290px;
  height: 208px;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 20px;
  float: left;
}
.interests a.interests-blue, .interests a.interests-white {
  background-image: url('../img/interest-on.png');
}
.interests a.interests-blue p {
  background: url('../img/broadcast-blue.png') no-repeat bottom left;
}
.interests a.interests-white p {
  background: url('../img/broadcast-white.png') no-repeat bottom left;
}
.interests a p {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 32px;
}

.interests-footer {
  clear: both;
  padding-top: 80px;
  overflow: auto;
}
.interests-footer p {
  font-size: 32px;
  text-align: center;
  margin-bottom: 14px;
  font-family: Helvetica Neue Light , Helvetica Neue , Helvetica;
}
.interests-footer .receive {
  margin: 0 auto;
  overflow: auto;
  width: 488px;
}
.interests-footer .receive a {
  width: 122px;
  height: 120px;
  display: block;
  float: left;
  text-align: center;
}
.interests-footer .receive a.facebook-white {
  background: url('../img/facebook-white.png') no-repeat center center;
}
.interests-footer .receive a.facebook-blue {
  background: url('../img/facebook-blue.png') no-repeat center center;
}
.interests-footer .receive a.twitter-white {
  background: url('../img/twitter-white.png') no-repeat center center;
}
.interests-footer .receive a.twitter-blue {
  background: url('../img/twitter-blue.png') no-repeat center center;
}
.interests-footer .receive a.youtube-white {
  background: url('../img/youtube-white.png') no-repeat center center;
}
.interests-footer .receive a.youtube-blue {
  background: url('../img/youtube-blue.png') no-repeat center center;
}
.interests-footer .receive a.linkedin-white {
  background: url('../img/linkedin-white.png') no-repeat center center;
}
.interests-footer .receive a.linkedin-blue {
  background: url('../img/linkedin-blue.png') no-repeat center center;
}
