.search-panel {
  padding-top: 20px;
  padding-bottom: 20px;
}
.search-panel header {
  margin: 0 20px;
  overflow: hidden;
}
.search-panel header .search-input {
  outline: none;
  width: 100%;
  height: 60px;
  font-size: 28px;
  line-height: 1.5;
  color: #fff;
  background-color: #393939;
  border: 0;
  padding-left: 65px;
  background-image: url('../img/search-input.png');
  background-repeat: no-repeat;
  background-position: 15px 14px;
}
.search-panel header p {
  font-size: 32px;
  height: 64px;
  line-height: 64px;
  color: #999;
  font-weight: normal;
}
.search-panel .search-before article {
  padding: 0 20px;
  padding-bottom: 31px;
}
.search-panel .search-before article h3 {
  height: 59px;
  line-height: 59px;
  border-bottom: 2px solid #4a4b4e;
  font-size: 32px;
  font-family: Helvetica Neue Medium , Helvetica Neue , Helvetica;
}
.search-panel .search-before article a {
  margin-top: 30px;
  margin-bottom: 10px;
  display: block;
  color: #2c95dd;
  text-decoration: none;
  font-size: 36px;
  position: relative;
}
.search-panel .search-before article span {
  display: block;
  margin-top: -10px;
  font-size: 28px;
  color: #999;
}
.search-panel .search-after article {
  padding: 0 20px;
  padding-bottom: 45px;
}
.search-panel .search-after article h3 {
  height: 59px;
  line-height: 59px;
  border-bottom: 2px solid #4a4b4e;
  font-size: 28px;
  font-family: Helvetica Neue Medium , Helvetica Neue , Helvetica;
}
.search-panel .search-after article h3 a {
  color: #2c95dd;
  font-size: 28px;
  float: right;
  text-decoration: none;
}
.search-panel .search-after article figure {
  margin-top: 20px;
  overflow: hidden;
  width: 100%;
}
.search-panel .search-after article figure img {
  display: block;
  float: left;
}
.search-panel .search-after article figure a {
  margin-left: 140px;
  padding-top: 18px;
  display: block;
}
.search-panel .search-after article figure a h4 {
  font-size: 32px;
  color: #2c95dd;
}
.search-panel .search-after article figure a p {
  margin-top: 2px;
  font-size: 28px;
  color: #999;
}
.search-panel .search-after article .search-after-tweets {
  margin-top: 40px;
  color: #2c95dd;
  font-size: 36px;
  display: block;
}
