
.nav{
    position: fixed;
    top: 0px;
    right: -430px;
    padding: 10px 0;
    background: #333;
    width: 430px;
    z-index: 10;
    overflow: hidden;
    height: 1136px;
    
    .nav-head{
        img{
            display: block;
            float: left;
            width: 120px;
            height: 120px;
        }
        
        .nav-head-info{
            margin-left: 140px;
            h3{
                margin-top: 9px;
                color: #2c95dd;
                font-size: 36px;
            }
            p{
                color: #999;
                font-size: 28px;
            }
        }
        overflow: auto;
        padding-bottom: 52px;
        border-bottom: 2px solid #474747;
        margin: 0 20px;
    }
    
    .nav-list{
        li{
            padding: 0 20px;
            &:active, &:hover{
                background-color: #2c95dd;
                a{
                    border-bottom: 2px solid #2c95dd;
                    color: #fff;
                }
            }
        }
        
        li a{
            height: 82px;
            line-height: 82px;
            padding-left: 70px;
            font-size: 32px;
            color: #999;
            border-bottom: 2px solid #474747;
            display: block;
            text-decoration: none;
        }
        
        .nav-list-search{
            background: inline-image('nav-list-search.png')  no-repeat center left;
            &:active, &:hover{
            background: inline-image('nav-list-search-active.png')  no-repeat center left;
            }
        }
        .nav-list-home{
            background: inline-image('nav-list-home.png')  no-repeat center left;
            &:active, &:hover{
            background: inline-image('nav-list-home-active.png')  no-repeat center left;
            }
        }
        .nav-list-read{
            background: inline-image('nav-list-read.png')  no-repeat center left;
            &:active, &:hover{
            background: inline-image('nav-list-read-active.png')  no-repeat center left;
            }
        }
        .nav-list-interest{
             background: inline-image('nav-list-interest.png')  no-repeat center left;
            &:active, &:hover{
            background: inline-image('nav-list-interest-active.png')  no-repeat center left;
            }
        }
         .nav-list-favorite{
             background: inline-image('nav-list-favorite.png')  no-repeat center left;
            &:active, &:hover{
            background: inline-image('nav-list-favorite-active.png')  no-repeat center left;
            }
        }
        .nav-list-feed{
             background: inline-image('nav-list-feed.png')  no-repeat center left;
            &:active, &:hover{
            background: inline-image('nav-list-feed-active.png')  no-repeat center left;
            }
        }
        .nav-list-settings{
             background: inline-image('nav-list-settings.png')  no-repeat center left;
            &:active, &:hover{
            background: inline-image('nav-list-settings-active.png')  no-repeat center left;
            }
        }
        .nav-list-logout{
            background: inline-image('nav-list-logout.png')  no-repeat center left;
            &:active, &:hover{
            background: inline-image('nav-list-logout-active.png')  no-repeat center left;
            }
        }

    }
    
}
