@charset "utf-8";
%trans{
         /*    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;*/
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.4s;
}

%scale07{
        transform: scale(0.7);
}
%scale10{
        transform: scale(1);
}


//angular 全屏侧滑效果
// $direction is enter position
@mixin angular-animate($direciton){
        //@include trans;
        @extend %trans;
    &.ng-enter{ //animate start state , from leftoutside to center
        z-index: 2;
        -webkit-transform:translateX($direciton); 
        //@include trans;
        &.ng-enter-active{ //animate end state
            position: absolute;
            z-index:1;
            -webkit-transform:translateX(0); 
        }
    }

    &.ng-leave{
        &.ng-leave-active{
        }
    }
}

//angular fadein fadeout transition (display: none ==> display:block)
.animation-fade {
        //@include trans;
         @extend %trans;
        &.ng-hide-add { //animate start state , from visible to visible
                //display:block!important; //remove because of relative position
                opacity: 1;
        }
        
        &.ng-hide-add-active{ //animate end state
                opacity: 0;
        }
        
        &.ng-hide-remove { //animate start state ,from invisible to visible
                display:block!important;
                opacity: 0;
        }
        
        &.ng-hide-remove-active{ //animate end state
                opacity: 1;
        }
}


.animation-scale{
         @extend %trans;
        &.ng-hide-add { //animate start state , from visible to visible
                display:block!important; //remove because of relative position
                @extend %scale10;
                opacity: 1;
        }
        
        &.ng-hide-add-active{ //animate end state
                opacity: 0;
                @extend %scale07;
        }
        
        &.ng-hide-remove { //animate start state ,from invisible to visible
                display:block!important;
                @extend %scale07;
                opacity: 0;
        }
        
        &.ng-hide-remove-active{ //animate end state
               @extend %scale10;
                opacity: 1;
        }
}


.animation-fade-out{
          @extend %trans;
        &.ng-hide-add { //animate start state , from visible to visible
                display:block!important; 
                opacity: 1;
        }
        
        &.ng-hide-add-active{ //animate end state
                opacity: 0;
        }
}

//angular fadein fadeout transition (element none to element block)
.animation-inout{
 
 //@include trans;
  @extend %trans;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: 1;
    }
  }
  &.ng-leave {
    opacity: 1;
    &.ng-leave-active {
      opacity: 0;
    }
  }
  
  
}



.slide-from-left{
    position : absolute;
    width: 100%;
@include angular-animate(-100%);
       // overflow: auto;
}


.slide-from-right{
    position : absolute;
    width: 100%;
 @include angular-animate(100%);
}

