@import "compass/reset";

$main-black : #222;
body{
        font-family: HelveticaNeue, Arial, Helvetica, sans-serif;
        background: $main-black;
        color: #fff;
}

.head{
        .go-back{
                background: inline-image("go-back.png") no-repeat center center;
                width: 90px;
                float: left;
                outline: none;
                &:active,&:hover{
                         outline: none;
                }
        }
        .search{
                background: inline-image("search.png") no-repeat center center;
                width: 80px;
                float: right;
        }
        .menu{
                background: inline-image("menu.png") no-repeat left center;
                width: 85px;
                float: right;
                
                &:active{
                         background: inline-image("menu-active.png") no-repeat left center;
                }
        }
        a{
                height: 88px;
                display: inline-block;
                position: relative;
                z-index: 1;
        }
        h3{
                text-align: center;
                font-size: 36px;
                
                position: absolute;
                width: 100%;
                overflow: hidden;
                height: 88px;
                line-height: 88px;

                &.logo{
                        background: inline-image("logo.png") no-repeat center center;
                        text-indent: -9999px;
                }
        }

        border-bottom: 2px solid #303030;
        background: $main-black;
        overflow: hidden;
}

main{
         transition: 0.4s all;
         position: relative;
        &.navon{
                -webkit-transform: translateX(-430px);
                -transform: translateX(-430px);
        }
}

.black{
        background: $main-black;
}


.default{
        padding: 20px 0 0 0;
        background: $main-black;
        overflow: auto;
        //width: 100%;

        .category-a{
                position: relative;
                
                img{
                        width: 600px;
                }

                h3{
                        font-size: 36px;
                        position: absolute;
                        top: 15px;
                        left: 15px;
                        
                }

                figcaption{
                        position: absolute;
                        padding: 15px 15px 10px 15px;
                        bottom: 0px;
                        font-size: 32px;
                        line-height: 40px;
                        
                        background-color: rgba(0,0,0,0.3);
                        box-sizing: border-box;

                }
                margin-bottom: 20px;
        }


        .category-b,.category-c{
                position: relative;
                
                img{
                         width: 290px;
                }

                h3{
                        font-size: 32px;
                        position: absolute;
                        top: 15px;
                        left: 15px;
                        
                }

                margin-bottom: 20px;
        }
        
        
        .category-d{
                position: relative;
                img{
                        width:  600px
                }

                h3{
                        font-size: 32px;
                        position: absolute;
                        top: 15px;
                        left: 15px;
                        
                }

                margin-bottom: 20px;
        }

        .category-a,.category-b,.category-c,.category-d{
                margin-left: 20px;
                float: left;
        }
        
}
