<section class="default">
        <a href="">
                <figure class="category-a">
                        <h3>Description Lorem Ipsum</h3>
                        <img ng-src="img/category1.png" alt="image" title="main-pic" width="600" height="420">
                        <figcaption>Aenean nec sapien massa, eget  ligula. In non laoreet dui. Vestibulum rhoncus purus vitae justo ornare viverra. </figcaption>
                </figure>  
        </a>

        <a href="">
                <figure class="category-b">
                        <h3>Technology</h3>
                        <img ng-src="img/category2.png" alt="image" title="main-pic" width="290" height="300">
                </figure>
        </a>

        <a href="">
                <figure class="category-c">
                        <h3>Design</h3>
                        <img ng-src="img/category3.png" alt="image" title="main-pic" width="290" height="300">
                </figure>
        </a>


        <a href="">
                <figure class="category-d">
                        <h3>Lorem Ipsum</h3>
                        <img ng-src="img/category4.png" alt="image" title="main-pic" width="600" height="206">
                </figure>
        </a>

</section>