<section class="default">
        <figure class="category-a">
                <h3>Description Lorem Ipsum</h3>
                <img src="img/category1.png" alt="image" title="main-pic">
                <figcaption>Aenean nec sapien massa, eget  ligula. In non laoreet dui. Vestibulum rhoncus purus vitae justo ornare viverra. </figcaption>
        </figure>

        <figure class="category-b">
                <h3>Technology</h3>
                <img src="img/category2.png" alt="image" title="main-pic">
        </figure>

        <figure class="category-c">
                <h3>Design</h3>
                <img src="img/category3.png" alt="image" title="main-pic">
        </figure>

        <figure class="category-d">
                <h3>Lorem Ipsum</h3>
                <img src="img/category4.png" alt="image" title="main-pic">
        </figure>
</section>