<section class="default" ng-controller="defaultController">
        <a href="{{defaults.categoryA.link}}">
                <figure class="category-a">
                        <h3>{{defaults.categoryA.title}}</h3>
                        <img ng-src="{{defaults.categoryA.src}}" alt="image" title="main-pic" width="600" height="420">
                        <figcaption>{{defaults.categoryA.content}}</figcaption>
                </figure>  
        </a>

        <a href="{{defaults.categoryB.link}}">
                <figure class="category-b">
                        <h3>{{defaults.categoryB.title}}</h3>
                        <img ng-src="{{defaults.categoryB.src}}" alt="image" title="main-pic" width="290" height="300">
                </figure>
        </a>

        <a href="{{defaults.categoryC.link}}">
                <figure class="category-c">
                        <h3>{{defaults.categoryC.title}}</h3>
                        <img ng-src="{{defaults.categoryC.src}}" alt="image" title="main-pic" width="290" height="300">
                </figure>
        </a>


        <a href="{{defaults.categoryD.link}}">
                <figure class="category-d">
                        <h3>{{defaults.categoryB.title}}</h3>
                        <img ng-src="{{defaults.categoryB.src}}" alt="image" title="main-pic" width="600" height="206">
                </figure>
        </a>

</section>