<section ng-controller="itemDetailController">

    <div class="status-wrap">
        <h4>{{itemdetail.title}}</h4>
        <div class="info-wrap">
            <span class="username">by <strong>{{itemdetail.user}}</strong></span>
            <span class="date">{{itemdetail.time}}</span>
            <span class="classify"><strong>{{itemdetail.category}}</strong></span>
        </div>
        <div class="component-rating">
            <div id="star" class="star-wrap">
                
                <div class="star-full" ng-repeat="i in starfull track by $index"></div>
                <div class="star-half" ng-show="starhalf"></div>
                
            </div>

            <div class="appreciate">
                <a><span class="num">{{itemdetail.likes}} Likes</span></a> 
                <a class="blue"><span class="num">{{itemdetail.dislikes}}</span> Dislikes</a> 
                <a href="#/Comments/1111" class="blue"><span class="num">{{itemdetail.comments}}</span> Comments</a>
            </div>
        </div>

        <video ng-src="{{itemdetail.videosrc}}"  width="600" height="284" controls></video>

        <p ng-repeat="p in itemdetail.contents ">
            {{p}}
         </p>

    </div>

    <footer class="item-detail-footer">
        <a class="bookmarks-icon"></a>
        <a class="star-icon"></a>
        <a class="share-icon" ng-click="doshare()"></a>
        <a class="rss-icon"></a>
    </footer>


    <div share></div>
    <div sharelogin></div>
        
</section>