<section class="search-panel" ng-controller="searchController">
        <header>
                <input type="text" class="search-input" placeholder="Search" ng-change="doSearch()" ng-model="searchInput">
                <p>Search for categories, people, etc</p>
        </header>

        <div class="search-before animation-fade"  ng-show="show">
                <article>
                        <h3> Categories</h3>
                        <a href="">Technology</a>
                        <a href="">Design</a>
                        <a href="">News</a>
                </article>

                <article>
                        <h3> Most Read Topics</h3>
                        <a href="{{read.link}}" ng-repeat="read in searchbefore.mostRead">
                                {{read.title}}
                        </a>
<!--                        <a href="">Consectetur adipiscing elit </a>
                        <a href="">Fusce mattis augue sit amet velit </a>
                        <a href="">Elementum at mollis mauris hendrerit</a>-->
                </article>

                <article>
                        <h3> People</h3>
                        
                        <div ng-repeat="people in searchbefore.people" >
                                <a href="">{{people.name}} </a>
                                <span>{{people.profession}}</span>
                        </div>
                </article>
        </div>
        
        <div class="search-after animation-fade" ng-hide="show">
                            <article>
                                    <h3>Topics<a href="javascript:;" ng-click="noTopicLimit()">More result</a></h3>
                                    
                                    <figure ng-repeat="topic in searchafter.topics | limitTo : topicLimit" class="animation-inout">
                                            <img ng-src="{{topic.src}}" alt="{{topic.title}}" title="{{topic.title}}">
                                            <a href="{{topic.link}}">
                                                    <h4>{{topic.title}}</h4>
                                                    <p>{{topic.subtitle}}</p>
                                            </a>
                                    </figure>
                                    
                            </article>
                            
                            <article>
                                    <h3>Tweets<a href="javascript:" ng-click="notweetLimit()">More result</a></h3>
                                    <a href="{{tweet.link}}" class="search-after-tweets animation-inout" ng-repeat="tweet in searchafter.tweets | limitTo: tweetLimit">{{tweet.text}}</a>

                            </article>      
                            
                            <article>
                                    <h3>Movies<a href="javascript:" ng-click="nomovieLimit()">More result</a></h3>
                                    
                                    <figure ng-repeat="movie in searchafter.movies | limitTo : movieLimit" class="animation-inout">
                                            <img ng-src="{{movie.src}}" alt="{{movie.title}}" title="{{movie.title}}">
                                            <a href="{{movie.link}}">
                                                    <h4>{{movie.title}}</h4>
                                                    <p>{{movie.subtitle}}</p>
                                            </a>
                                    </figure>
<!--                                    <figure>
                                            <img src="img/search-img-1.png" alt="" title="">
                                            <a href="">
                                                    <h4>Transform nec sapien massa</h4>
                                                    <p>Lorem ipsum descriptions</p>
                                            </a>
                                    </figure>
                                    
                                    <figure>
                                            <img src="img/search-img-2.png" alt="" title="">
                                            <a href="">
                                                    <h4>Transformers movie</h4>
                                                    <p>Lorem ipsum descriptions</p>
                                            </a>
                                    </figure>
                                    
                                    <figure>
                                            <img src="img/search-img-3.png" alt="" title="">
                                            <a href="">
                                                    <h4>Transform nec sapien massa</h4>
                                                    <p>Lorem ipsum descriptions</p>
                                            </a>
                                    </figure>-->
                            </article>
                            
                    </div>
        
        
</section>