<div class="modal-bg animation-fade-out" ng-show="socialLoginvisiable"  ></div>
<div class="overlayer animation-fade-out" ng-show="socialLoginvisiable"  >
    <h1>Share Article <a class="close-btn" href="javascript:;" ng-click="hideSocialLogin()"></a></h1>
    <div class="content">
        <p>Lorem ipsum dolor sit amet <br/>consectetur article</p>
        <p>Aenean nec sapien massa, eget scelerisque ligula. In non laoreet dui. Vestibulum rhoncus purus vitae justo ornare viverra. </p>
        <div class="sns-share">
            <p>Select your social media to share</p>
            <a href="javascript:;" class="fb-black"></a>
            <a href="javascript:;" class="tw-black"></a>
            <a href="javascript:;" class="youtube-black"></a>
            <a href="javascript:;" class="linkedin-black"></a>
            <a href="javascript:;" class="mail-black"></a>
        </div>
    </div>
</div>